@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body { 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font */
  font-family: Roboto, sans-serif;
  background-color: rgb(50, 50, 50);
  color: white;
}

h1 {
  font-size: 6rem;
}

.dateTime-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  font-size: 4rem;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.time-container {
  display: flex;
}

.time-box, .dots{
  margin-right: 1rem;
}

.dots span{
  font-size: 6rem;
}

.time-box {
  font-size: 5rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.time-box.second .digit-box {
  color: red;
}

.digit-box {
  background-color: rgb(10, 15, 20);
  border: 1px solid white;
  color: white;
  padding: 20px 20px; 
  border-radius: 10px;
  /**/
  position: relative;
  
}

